<div class="ui inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      <%= image_tag "logo.png"%>
      &nbsp;&nbsp;Project Name
    </a>
    <div class="ui simple dropdown item">
      Справочники: <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#">Link Item</a>
        <a class="item" href="#">Link Item</a>
        <div class="divider"></div>
        <div class="header">Header Item</div>
        <div class="item">
          <i class="dropdown icon"></i>
          Sub Menu
          <div class="menu">
            <a class="item" href="#">Link Item</a>
            <a class="item" href="#">Link Item</a>
          </div>
        </div>
        <a class="item" href="#">Link Item</a>
      </div>
    </div>
  </div>
  <div class="header item">
    <%= link_to "Выход", destroy_user_session_path, :method  => :delete, :class => "ui item" %>
  </div>
</div>
