<div class="ui inverted menu">
  <div class="ui container">
    <a href="#" class="header item center">
      <%= image_tag "logo.png", :size =>"27x29" %>
      Welcome to Project Name
    </a>
  </div>
</div>
